@model IdentityServer.Core.Dto.UserModel
@{
    ViewData["Title"] = "Profile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="content-panel">
    <div class="account-panel">
        <div class="top-panel">
            <div class="profile-picture-container">
                <img src="/usercontent/@Model.UserId" class="round" id="user-image-display" alt="Profile Picture">
                <input type="file" id="profile-picture-upload" accept=".jpg, .jpeg, .png" hidden onchange="uploadImage()">
                <label class="picture-switcher" for="profile-picture-upload"><span class="ti ti-pencil" title="Edit profile image"></span></label>
            </div>
            <p class="username">@Model.UserName</p>
            <p class="email low-opacity">@Model.Email</p>
        </div>
        <a asp-controller="Auth" asp-action="Logout" class="button button-primary">Log out</a>
    </div>
    <div class="settings-panel">
        <h1>Account</h1>
        <section class="account-settings panel-action-grid">
            <div class="flex-row">
                <div class="input-container input-2-col input-width-300">
                    <span class="ti ti-user"></span>
                    <input placeholder="Name" id="change-name-input" value="@Model.UserName" required/>
                </div>
                <span class="hidden ti" id="change-name-indicator"></span>
            </div>
            <button class="button button-width-200 async-loading-button" id="change-name-button" disabled>
                <span class="default">Change Name</span>
                <span class="loading ti ti-loading"></span>
                <span class="error ti ti-check"></span>
                <span class="success ti ti-check active"></span>
            </button>
            <p>Confirming your email address can greatly enhance your security by opening the possibility for two factor authentication and important mail updates</p>
            @if (Model.EmailConfirmed) {
                <p class="mail-confirmed">Email Confirmed <span class="ti ti-check active"></span></p>
            }
            else {
                <button class="button button-width-200" disabled>Confirm Email</button>
            }
            <p>If you do not use/want your account anymore you can simple delete it. All user data will be deleted.</p>
            <button class="button button-primary button-width-200" disabled>Delete Account</button>
        </section>
        <hr>
        <h1>Security</h1>
        <section class="security-settings panel-action-grid">
            <p>Two Factor Authentication (2FA) is a way to further secure your account. Whenever you want to login, you will receive a message in your email inbox containing the pin you need to login.</p>
            @if (Model.MFAEnabled) {
                <button class="button button-width-200" disabled>Disable 2FA</button>
            }else {
                <button class="button button-width-200" disabled>Enable 2FA</button>
            }
            
        </section>
        <hr>
        <h1>Password</h1>
        <section class="panel-list">
            <p>Make sure to change your password once in a while to make sure compromised passwords cannot do much harm.</p>
            <form class="validated-form" id="change-password-form">
                <label for="old-password-input">Old Password</label>
                <div class="input-container input-3-col">
                    <span class="ti ti-key"></span>
                    <input placeholder="Old Password" type="password" id="old-password-input" required tabindex="1"/>
                    <button type="button" class="password-toggle"><span class="ti ti-password-eye-toggle"></span></button>
                </div>
                <label for="new-password-input">New Password</label>
                <div class="validated-input-container">
                    <div class="input-container input-3-col">
                        <span class="ti ti-key"></span>
                        <input placeholder="New Password" type="password" data-input="password" id="new-password-input" required tabindex="2"/>
                        <button type="button" class="password-toggle"><span class="ti ti-password-eye-toggle"></span></button>
                    </div>
                    <p class="validation-text">Invalid New Password!</p>
                </div>
                <label for="new-password-repeat-input">Repeat New Password</label>
                <div class="validated-input-container">
                    <div class="input-container input-3-col">
                        <span class="ti ti-key"></span>
                        <input placeholder="Repeat New Password" type="password" data-input="password-repeat" data-for="new-password-input" id="new-password-repeat-input" required tabindex="3"/>
                        <button type="button" class="password-toggle"><span class="ti ti-password-eye-toggle"></span></button>
                    </div>
                    <p class="validation-text">Your passwords do not match! Please try again!</p>
                </div>
                <button type="submit" class="button button-primary" id="change-password-button" disabled>Change Password</button>
            </form>
        </section>
        <hr>
        <h1>Roles</h1>
        <section class="role-settings">
            @foreach (var role in Model.Roles) {
                <div class="role-container">
                    <span class="ti ti-dropdown-toggle"></span>
                    @* <div> *@
                        <p class="role-name">@role.RoleName</p>
                        @* <div class="role-info low-opacity"> *@
                        @*     <span>Granted<br></span> *@
                        @*     <span>Expires<br>/</span> *@
                        @* </div> *@
                    @* </div> *@
                    <div class="role-description">
                        <p>@role.RoleDescription</p>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script>
    document.querySelectorAll('.role-container').forEach(ele => {
        ele.addEventListener('click', () => {
            if(ele.classList.contains('active')) {
                ele.classList.remove('active');
            }else {
                ele.classList.add('active');
            }
        })
    });
    
    function uploadImage() {
        const fileUpload = document.getElementById('profile-picture-upload');
        const imageDisplay = document.getElementById('user-image-display');
        if (fileUpload.files.length !== 1) {
            return;
        }
        let data = new FormData();
        data.append('image', fileUpload.files[0]);
        
        fetch('/usercontent/uploadImage', {
            method: 'POST',
            body: data
        }).then(res => {
            if (!res.ok) {
                return;
            }
            imageDisplay.src = imageDisplay.src.split('?')[0] + "?" + +new Date();
            console.log(imageDisplay.src);
        }).catch();
    }
    
    
    const changeNameInput = document.getElementById('change-name-input');
    const changeNameValidIndicator = document.getElementById('change-name-indicator');
    const changeNameBtn = document.getElementById('change-name-button');
    let oldNameInput = changeNameInput.value;
    let nameValueChanged = false;
    let nameChangeable = false;
    
    function setNameValidIndicatorHidden() {
        nameChangeable = false;
        changeNameBtn.disabled = true;
        changeNameValidIndicator.classList.remove("ti-check");
        changeNameValidIndicator.classList.remove("active");
        changeNameValidIndicator.classList.remove("ti-loading");
        changeNameValidIndicator.classList.add("hidden");
        changeNameValidIndicator.title = "";
    }
    function setNameValidIndicatorLoading() {
        nameChangeable = false;
        changeNameBtn.disabled = true;
        changeNameValidIndicator.classList.remove("ti-check");
        changeNameValidIndicator.classList.remove("active");
        changeNameValidIndicator.classList.remove("hidden");
        changeNameValidIndicator.classList.add("ti-loading");
        changeNameValidIndicator.title = "";
    }
    function setNameValidIndicatorChecked() {
        nameChangeable = true;
        changeNameBtn.disabled = false;
        changeNameValidIndicator.classList.remove("ti-loading");
        changeNameValidIndicator.classList.remove("hidden");
        changeNameValidIndicator.classList.add("ti-check");
        changeNameValidIndicator.classList.add("active");
        changeNameValidIndicator.title = "This name is available!";
    }
    function setNameValidIndicatorUnchecked() {
        nameChangeable = false;
        changeNameBtn.disabled = true;
        changeNameValidIndicator.classList.remove("ti-loading");
        changeNameValidIndicator.classList.remove("hidden");
        changeNameValidIndicator.classList.remove("active");
        changeNameValidIndicator.classList.add("ti-check");
        changeNameValidIndicator.title = "This name is not available!";
    }
    function setNameValidIndicatorValid(valid) {
        if (valid)
            setNameValidIndicatorChecked();
        else
            setNameValidIndicatorUnchecked();
    }
    
    changeNameInput.addEventListener('blur', () => {
        if(changeNameInput.value === oldNameInput) {
            return;
        }
        setNameValidIndicatorLoading();
        
        checkValidName(changeNameInput.value)
            .then(res => res.text())
            .then(res => {
                setNameValidIndicatorValid(res === "true");
                oldNameInput = changeNameInput.value;
                nameValueChanged = true;
            })
            .catch(() => {
                setNameValidIndicatorUnchecked();
                oldNameInput = changeNameInput.value;
                nameValueChanged = true;
            });
        
        function checkValidName(newName) {
            return fetch('/user/api/isNameAvailable?name=' + newName);
        }
    });
    
    changeNameBtn.addEventListener('click', () => {
        if (!nameValueChanged || !nameChangeable) {
            return;
        }
        changeNameBtn.classList.add('loading');
        changeNameBtn.disabled = true;
        fetch('/user/api/changeName', {
            method: 'POST',
            headers: {
                "Content-Type":"application/json"  
            },
            body: JSON.stringify(changeNameInput.value)
        }).then(res => {
            nameValueChanged = false;
            changeNameBtn.classList.remove('loading');
            if (!res.ok) {
                changeNameBtn.classList.add('error');
                setTimeout(() => changeNameBtn.classList.remove('error'), 1500);
                return;
            }
            changeNameBtn.classList.add('success');
            setTimeout(() => changeNameBtn.classList.remove('success'), 1500);
            setNameValidIndicatorHidden();
        }).catch(() => {
            changeNameBtn.classList.remove('loading');
            changeNameBtn.classList.add('error');
            setTimeout(() => changeNameBtn.classList.remove('error'), 1500);
            nameValueChanged = false;
        });
    });
</script>